<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>#一生所愿#</string>
		<key>categoryImage</key>
		<string>一生所愿</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#平凡人的英雄梦#</string>
		<key>categoryImage</key>
		<string>平凡人的英雄梦</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#环游世界#</string>
		<key>categoryImage</key>
		<string>环游世界</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#必须掌握的技能#</string>
		<key>categoryImage</key>
		<string>必须掌握的技能</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#充实自我#</string>
		<key>categoryImage</key>
		<string>充实自我</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#和家人#</string>
		<key>categoryImage</key>
		<string>和家人</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#想和TA一起做的事#</string>
		<key>categoryImage</key>
		<string>想和TA一起做的事</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#大学里要做的事#</string>
		<key>categoryImage</key>
		<string>大学里要做的事</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#坚持健身的同学最伟大#</string>
		<key>categoryImage</key>
		<string>坚持健身的同学最伟大</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#养生之道#</string>
		<key>categoryImage</key>
		<string>养生之道</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#必须改掉的坏毛病#</string>
		<key>categoryImage</key>
		<string>必须改掉的坏毛病</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#想读的书单#</string>
		<key>categoryImage</key>
		<string>想读的书单</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#必看的电影#</string>
		<key>categoryImage</key>
		<string>必看的电影</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#我爱游戏#</string>
		<key>categoryImage</key>
		<string>我爱游戏</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#最想要的生日礼物#</string>
		<key>categoryImage</key>
		<string>最想要的生日礼物</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#买买买#</string>
		<key>categoryImage</key>
		<string>买买买</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#狗狗猫咪#</string>
		<key>categoryImage</key>
		<string>狗狗猫咪</string>
	</dict>
	<dict>
		<key>category</key>
		<string>#创意生活#</string>
		<key>categoryImage</key>
		<string>创意生活</string>
	</dict>
</array>
</plist>
