<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>#一生所愿#</string>
		<key>categoryImage</key>
		<string>一生所愿</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>买一套属于自己的房子。</string>
				<key>images</key>
				<string>一生所愿00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>和自己心爱的人结婚。</string>
				<key>images</key>
				<string>一生所愿01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>养一男一女两个孩子。</string>
				<key>images</key>
				<string>一生所愿02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>写一本书，并出版。</string>
				<key>images</key>
				<string>一生所愿03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>制作一个游戏。</string>
				<key>images</key>
				<string>一生所愿04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>开一个小公司，运营下去。</string>
				<key>images</key>
				<string>一生所愿05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>开个小旅馆。</string>
				<key>images</key>
				<string>一生所愿06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>得到本科学位，并穿学士服拍照。</string>
				<key>images</key>
				<string>一生所愿07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>拥有一个属于自己的书店。</string>
				<key>images</key>
				<string>一生所愿08</string>
			</dict>
			<dict>
				<key>content</key>
				<string>登超过3000海拔的山10座。</string>
				<key>images</key>
				<string>一生所愿09</string>
			</dict>
			<dict>
				<key>content</key>
				<string>走完三山五岳。</string>
				<key>images</key>
				<string>一生所愿10</string>
			</dict>
			<dict>
				<key>content</key>
				<string>拥有一所木屋，面朝大海，春暖花开。</string>
				<key>images</key>
				<string>一生所愿11</string>
			</dict>
			<dict>
				<key>content</key>
				<string>开最大的流浪动物之家，到所有动物收容站，把动物接回家。</string>
				<key>images</key>
				<string>一生所愿12</string>
			</dict>
			<dict>
				<key>content</key>
				<string>在月球上看地球。</string>
				<key>images</key>
				<string>一生所愿13</string>
			</dict>
			<dict>
				<key>content</key>
				<string>以家人、爱人的名字建希望小学，尽可能建得更多。</string>
				<key>images</key>
				<string>一生所愿14</string>
			</dict>
			<dict>
				<key>content</key>
				<string>慰问山村教师，提供力所能及的帮助和经济支持。</string>
				<key>images</key>
				<string>一生所愿15</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#平凡人的英雄梦#</string>
		<key>categoryImage</key>
		<string>平凡人的英雄梦</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>世界和平。</string>
				<key>images</key>
				<string>平凡人的英雄梦00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>给亲人治好所有疾病，让他们健康地活着。</string>
				<key>images</key>
				<string>平凡人的英雄梦01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>去非洲空投食物，帮他们治病、种庄稼。</string>
				<key>images</key>
				<string>平凡人的英雄梦02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>出资搞科学研究，控制或消灭一种疾病。</string>
				<key>images</key>
				<string>平凡人的英雄梦03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>有过目不忘的记忆力。</string>
				<key>images</key>
				<string>平凡人的英雄梦04</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#环游世界#</string>
		<key>categoryImage</key>
		<string>环游世界</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>马丘比丘
海拔8000英尺的古城—马丘比丘，那城中的石坛，寺庙和喷泉都是联合国教科文组织的世界遗产。</string>
				<key>images</key>
				<string>马丘比丘</string>
			</dict>
			<dict>
				<key>content</key>
				<string>泰姬陵
在印度的泰姬陵，游客可以阅读着书籍漫步在波光粼粼的池边，感受这座建于17世纪，划时代的建筑。</string>
				<key>images</key>
				<string>泰姬陵</string>
			</dict>
			<dict>
				<key>content</key>
				<string>波拉波拉岛
这座远离喧嚣的波拉波拉岛，度假村的酒店像浮在水面上一般，由柱子支撑着建在碧波荡漾的环礁湖上。</string>
				<key>images</key>
				<string>波拉波拉岛</string>
			</dict>
			<dict>
				<key>content</key>
				<string>艾尔斯岩
澳大利亚的艾尔斯岩，这块巨大的砂岩巨石对当地土著人来说是非常神圣的。</string>
				<key>images</key>
				<string>艾尔斯岩</string>
			</dict>
			<dict>
				<key>content</key>
				<string>印度的“粉红之城”斋浦尔。</string>
				<key>images</key>
				<string>斋浦尔</string>
			</dict>
			<dict>
				<key>content</key>
				<string>京都的东大寺
旅客可以参观京都这座收藏了巨大铜佛像的东大寺，还可以参加各种日本特色的书法和插花课程。</string>
				<key>images</key>
				<string>京都的东大寺</string>
			</dict>
			<dict>
				<key>content</key>
				<string>卢旺达火山国家公园
濒危山地大猩猩的家园——卢旺达火山国家公园，游客可以徒步穿越茂密的竹林，寻找大猩猩</string>
				<key>images</key>
				<string>卢旺达火山国家公园</string>
			</dict>
			<dict>
				<key>content</key>
				<string>津巴布韦的维多利亚大瀑布
游客可以穿过巴布韦茂盛的森林到达维多利亚瀑布，欣赏水雾中的彩虹。</string>
				<key>images</key>
				<string>津巴布韦的维多利亚大瀑布</string>
			</dict>
			<dict>
				<key>content</key>
				<string>柬埔寨吴哥窟
吴哥窟又名“庙宇之城”，建于9到13世纪，是世界上最大、保存完好的印度教庙宇群，具有浓厚的文化底蕴。</string>
				<key>images</key>
				<string>柬埔寨吴哥窟</string>
			</dict>
			<dict>
				<key>content</key>
				<string>复活节岛
在距离智利海岸2300公里的复活节岛，游客可以参观各种古镇和石像，了解复活岛神秘的过去。</string>
				<key>images</key>
				<string>复活节岛</string>
			</dict>
			<dict>
				<key>content</key>
				<string>马耳他的帕里西奥宫殿</string>
				<key>images</key>
				<string>马耳他的帕里西奥宫殿</string>
			</dict>
			<dict>
				<key>content</key>
				<string>巴黎</string>
				<key>images</key>
				<string>巴黎</string>
			</dict>
			<dict>
				<key>content</key>
				<string>印度尼西亚巴厘岛</string>
				<key>images</key>
				<string>印度尼西亚巴厘岛</string>
			</dict>
			<dict>
				<key>content</key>
				<string>埃及阿布辛贝神庙</string>
				<key>images</key>
				<string>埃及阿布辛贝神庙</string>
			</dict>
			<dict>
				<key>content</key>
				<string>委内瑞拉天使瀑布</string>
				<key>images</key>
				<string>委内瑞拉天使瀑布</string>
			</dict>
			<dict>
				<key>content</key>
				<string>澳大利亚悉尼</string>
				<key>images</key>
				<string>澳大利亚悉尼</string>
			</dict>
			<dict>
				<key>content</key>
				<string>加拿大落基山脉</string>
				<key>images</key>
				<string>加拿大落基山脉</string>
			</dict>
			<dict>
				<key>content</key>
				<string>墨西哥玛雅古迹</string>
				<key>images</key>
				<string>墨西哥玛雅古迹</string>
			</dict>
			<dict>
				<key>content</key>
				<string>尼亚加拉大瀑布</string>
				<key>images</key>
				<string>尼亚加拉大瀑布</string>
			</dict>
			<dict>
				<key>content</key>
				<string>埃及金字塔</string>
				<key>images</key>
				<string>埃及金字塔</string>
			</dict>
			<dict>
				<key>content</key>
				<string>约旦佩特拉城</string>
				<key>images</key>
				<string>约旦佩特拉城</string>
			</dict>
			<dict>
				<key>content</key>
				<string>意大利威尼斯</string>
				<key>images</key>
				<string>意大利威尼斯</string>
			</dict>
			<dict>
				<key>content</key>
				<string>万里长城</string>
				<key>images</key>
				<string>万里长城</string>
			</dict>
			<dict>
				<key>content</key>
				<string>美国夏威夷</string>
				<key>images</key>
				<string>美国夏威夷</string>
			</dict>
			<dict>
				<key>content</key>
				<string>巴西伊瓜苏瀑布</string>
				<key>images</key>
				<string>巴西伊瓜苏瀑布</string>
			</dict>
			<dict>
				<key>content</key>
				<string>美国阿拉斯加</string>
				<key>images</key>
				<string>美国阿拉斯加</string>
			</dict>
			<dict>
				<key>content</key>
				<string>喜马拉雅山脉</string>
				<key>images</key>
				<string>喜马拉雅山脉</string>
			</dict>
			<dict>
				<key>content</key>
				<string>巴西里约热内卢</string>
				<key>images</key>
				<string>巴西里约热内卢</string>
			</dict>
			<dict>
				<key>content</key>
				<string>肯尼亚马赛马拉的野生动物保护区</string>
				<key>images</key>
				<string>肯尼亚马赛马拉的野生动物保护区</string>
			</dict>
			<dict>
				<key>content</key>
				<string>意大利罗马</string>
				<key>images</key>
				<string>意大利罗马</string>
			</dict>
			<dict>
				<key>content</key>
				<string>迪拜</string>
				<key>images</key>
				<string>迪拜</string>
			</dict>
			<dict>
				<key>content</key>
				<string>塞舌尔拉迪戈岛</string>
				<key>images</key>
				<string>塞舌尔拉迪戈岛</string>
			</dict>
			<dict>
				<key>content</key>
				<string>斯里兰卡</string>
				<key>images</key>
				<string>斯里兰卡</string>
			</dict>
			<dict>
				<key>content</key>
				<string>曼谷</string>
				<key>images</key>
				<string>曼谷</string>
			</dict>
			<dict>
				<key>content</key>
				<string>美国拉斯维加斯</string>
				<key>images</key>
				<string>美国拉斯维加斯</string>
			</dict>
			<dict>
				<key>content</key>
				<string>印度金庙</string>
				<key>images</key>
				<string>印度金庙</string>
			</dict>
			<dict>
				<key>content</key>
				<string>澳大利亚大堡礁</string>
				<key>images</key>
				<string>澳大利亚大堡礁</string>
			</dict>
			<dict>
				<key>content</key>
				<string>美国大峡谷</string>
				<key>images</key>
				<string>美国大峡谷</string>
			</dict>
			<dict>
				<key>content</key>
				<string>马尔代夫</string>
				<key>images</key>
				<string>马尔代夫</string>
			</dict>
			<dict>
				<key>content</key>
				<string>冰岛</string>
				<key>images</key>
				<string>冰岛</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#必须掌握的技能#</string>
		<key>categoryImage</key>
		<string>必须掌握的技能</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>学会开车</string>
				<key>images</key>
				<string>必须掌握的技能00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会游泳</string>
				<key>images</key>
				<string>必须掌握的技能01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会理财</string>
				<key>images</key>
				<string>必须掌握的技能02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会化妆</string>
				<key>images</key>
				<string>必须掌握的技能03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会一项乐器</string>
				<key>images</key>
				<string>必须掌握的技能04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会一门外语</string>
				<key>images</key>
				<string>必须掌握的技能05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会一项运动</string>
				<key>images</key>
				<string>必须掌握的技能06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会一项棋牌</string>
				<key>images</key>
				<string>必须掌握的技能07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会一项舞蹈</string>
				<key>images</key>
				<string>必须掌握的技能08</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会摄影</string>
				<key>images</key>
				<string>必须掌握的技能09</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会画画</string>
				<key>images</key>
				<string>必须掌握的技能10</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会厨艺</string>
				<key>images</key>
				<string>必须掌握的技能11</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#充实自我#</string>
		<key>categoryImage</key>
		<string>充实自我</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>去贫穷地方支教一次</string>
				<key>images</key>
				<string>充实自我00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会一口流利的英语</string>
				<key>images</key>
				<string>充实自我01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会第二门外语</string>
				<key>images</key>
				<string>充实自我02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>出国留学一年</string>
				<key>images</key>
				<string>充实自我03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>拿下博士文凭</string>
				<key>images</key>
				<string>充实自我04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>去海外工作/志愿者</string>
				<key>images</key>
				<string>充实自我05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>发表一篇论文</string>
				<key>images</key>
				<string>充实自我06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>录一首歌</string>
				<key>images</key>
				<string>充实自我07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>写一手好字</string>
				<key>images</key>
				<string>充实自我08</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#和家人#</string>
		<key>categoryImage</key>
		<string>和家人</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>带爸妈去旅行</string>
				<key>images</key>
				<string>和家人00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>和弟弟一起登山</string>
				<key>images</key>
				<string>和家人01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>每年陪爸妈体检一次</string>
				<key>images</key>
				<string>和家人02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>每年陪爸妈过生日</string>
				<key>images</key>
				<string>和家人03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>和爸妈、姐姐住在一起，把最喜欢的老姨也接来，一家人开开心心地在一起。</string>
				<key>images</key>
				<string>和家人04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>给老爸买最好的表、无数套西服。</string>
				<key>images</key>
				<string>和家人05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>给老妈老姐买雅诗兰黛</string>
				<key>images</key>
				<string>和家人06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>送老妈金元宝，能买得起多少就买多少。</string>
				<key>images</key>
				<string>和家人07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>给老妈准备间花屋，全是她最喜欢的花。</string>
				<key>images</key>
				<string>和家人08</string>
			</dict>
			<dict>
				<key>content</key>
				<string>给妈妈买一条金项链。</string>
				<key>images</key>
				<string>和家人09</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会老妈所有菜的味道，并做给她吃。</string>
				<key>images</key>
				<string>和家人10</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#想和TA一起做的事#</string>
		<key>categoryImage</key>
		<string>想和TA一起做的事</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>一起坐公交。</string>
				<key>images</key>
				<string>想和TA一起做的事00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>手牵手走一段很长很长的路。</string>
				<key>images</key>
				<string>想和TA一起做的事01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>穿情侣衫去旅行。</string>
				<key>images</key>
				<string>想和TA一起做的事02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>找个喜欢的地方看日出看海。</string>
				<key>images</key>
				<string>想和TA一起做的事03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>窝在家沙发看电影。</string>
				<key>images</key>
				<string>想和TA一起做的事04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>做一件很2的事，然后一块儿傻笑。</string>
				<key>images</key>
				<string>想和TA一起做的事05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>很安静的背对背看书。</string>
				<key>images</key>
				<string>想和TA一起做的事06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>一起遛狗，看狗狗追着他跑。</string>
				<key>images</key>
				<string>想和TA一起做的事07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>插两根吸管同时喝一杯饮料。</string>
				<key>images</key>
				<string>想和TA一起做的事08</string>
			</dict>
			<dict>
				<key>content</key>
				<string>拥抱亲吻做爱，在房间的每一个角落。</string>
				<key>images</key>
				<string>想和TA一起做的事09</string>
			</dict>
			<dict>
				<key>content</key>
				<string>为他生个孩子。小姑娘的话叫曲奇，臭小子的话叫饼干。</string>
				<key>images</key>
				<string>想和TA一起做的事10</string>
			</dict>
			<dict>
				<key>content</key>
				<string>和TA一起去遥远的地方旅行，看美丽的夜景，看风格古朴的街道，逛小吃街。</string>
				<key>images</key>
				<string>想和TA一起做的事11</string>
			</dict>
			<dict>
				<key>content</key>
				<string>和TA一起跳一次伞。</string>
				<key>images</key>
				<string>想和TA一起做的事12</string>
			</dict>
			<dict>
				<key>content</key>
				<string>和TA一起坐摩天轮。</string>
				<key>images</key>
				<string>想和TA一起做的事13</string>
			</dict>
			<dict>
				<key>content</key>
				<string>一起分享童年的往事。</string>
				<key>images</key>
				<string>想和TA一起做的事14</string>
			</dict>
			<dict>
				<key>content</key>
				<string>回TA的家乡。</string>
				<key>images</key>
				<string>想和TA一起做的事15</string>
			</dict>
			<dict>
				<key>content</key>
				<string>两个人的几米绘本。</string>
				<key>images</key>
				<string>想和TA一起做的事16</string>
			</dict>
			<dict>
				<key>content</key>
				<string>列出TA的10个优点，然后给TA看。</string>
				<key>images</key>
				<string>想和TA一起做的事17</string>
			</dict>
			<dict>
				<key>content</key>
				<string>一起去夜店疯狂一次。</string>
				<key>images</key>
				<string>想和TA一起做的事18</string>
			</dict>
			<dict>
				<key>content</key>
				<string>一起去健身房。</string>
				<key>images</key>
				<string>想和TA一起做的事19</string>
			</dict>
			<dict>
				<key>content</key>
				<string>记下TA的梦话。</string>
				<key>images</key>
				<string>想和TA一起做的事20</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#大学里要做的事#</string>
		<key>categoryImage</key>
		<string>大学里要做的事</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>学习 
掌握一定的专业知识。</string>
				<key>images</key>
				<string>大学里要做的事00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>爱好 
最少有一项课余爱好。
这爱好要终其4年，最好成为你的特长，而且是比大多数人好的那种。这样使你大学生涯不会无聊，又有成就感，对你以后工作，生活都极有好处。</string>
				<key>images</key>
				<string>大学里要做的事01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>运动 
要有运动的习惯。
至少每周一次，当然运动成为你的爱好和特长最好。推荐男的打篮球、踢足球、网球等，女的乒乓球、羽毛球、台球等。好处：能使你健康、快乐、减少压力，丰富课余生活，保持好的身材。如果你把这个习惯保持一生，你就不用担心自已什么时候会有啤酒肚，或过早进入更年期。</string>
				<key>images</key>
				<string>大学里要做的事02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>书籍 
要精选100本书，认真读完。
这些书要包括世界名著、中国名著、成功学方面、还有自已喜欢的书。看几十部电影。</string>
				<key>images</key>
				<string>大学里要做的事03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>气质 
要培养一种大学生的气质。
当然最好要有比较高的修养、风度。记住并不是每个读过大学的人，都有这种气质。</string>
				<key>images</key>
				<string>大学里要做的事04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>就业 
每年，最好每学期到到人才招聘会或人才市场体会一下。
知道社会，企业，单位需要什么样的人才，自已有哪些方面不足，当然也体会一下人才济济的感觉。</string>
				<key>images</key>
				<string>大学里要做的事05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>探望 
每年到医院逛逛，看看得重病的人。那样你会更珍惜自已的生命。</string>
				<key>images</key>
				<string>大学里要做的事06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>恋爱 
也不要忘了，谈场完整的恋爱。</string>
				<key>images</key>
				<string>大学里要做的事07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>朋友 
多交朋友，和你所有同学保持好关系和联系，这是你一生的才富。找一位师兄，师姐，老师当生活，学习的向导。绝对很实用。</string>
				<key>images</key>
				<string>大学里要做的事08</string>
			</dict>
			<dict>
				<key>content</key>
				<string>旅行 
来一场说走就走的旅游，丰富自己的精神世界。</string>
				<key>images</key>
				<string>大学里要做的事09</string>
			</dict>
			<dict>
				<key>content</key>
				<string>父母 
常给家里打电话，这也许是你让你父母开心的很少的几个办法之一。</string>
				<key>images</key>
				<string>大学里要做的事10</string>
			</dict>
			<dict>
				<key>content</key>
				<string>规划 
给自已一个职业规划。有目标，有计划才会成功。</string>
				<key>images</key>
				<string>大学里要做的事11</string>
			</dict>
			<dict>
				<key>content</key>
				<string>网络 
学会正确的上网，学会怎样找到自已想要的信息。学会解决生活中的种种事情，自已解决不了的，学会求助。</string>
				<key>images</key>
				<string>大学里要做的事12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#坚持健身的同学最伟大#</string>
		<key>categoryImage</key>
		<string>坚持健身的同学最伟大</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>每天6000步</string>
				<key>images</key>
				<string>坚持健身的同学最伟大00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>每天30分钟有氧锻炼</string>
				<key>images</key>
				<string>坚持健身的同学最伟大01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>力量训练，练出完美的胸肌腹肌</string>
				<key>images</key>
				<string>坚持健身的同学最伟大02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>5公里跑步</string>
				<key>images</key>
				<string>坚持健身的同学最伟大03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>健身房报到</string>
				<key>images</key>
				<string>坚持健身的同学最伟大04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>俯卧撑锻炼</string>
				<key>images</key>
				<string>坚持健身的同学最伟大05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>参加一次马拉松比赛</string>
				<key>images</key>
				<string>坚持健身的同学最伟大06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会太极并坚持</string>
				<key>images</key>
				<string>坚持健身的同学最伟大07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>学会瑜伽并坚持</string>
				<key>images</key>
				<string>坚持健身的同学最伟大08</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#养生之道#</string>
		<key>categoryImage</key>
		<string>养生之道</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>把微笑变成一种习惯</string>
				<key>images</key>
				<string>养生之道00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>懂茶道 会茶艺</string>
				<key>images</key>
				<string>养生之道01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>会养花 会插花</string>
				<key>images</key>
				<string>养生之道02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>每天8杯水</string>
				<key>images</key>
				<string>养生之道03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>多吃水果蔬菜</string>
				<key>images</key>
				<string>养生之道04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>拒绝碳酸饮料</string>
				<key>images</key>
				<string>养生之道05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>拒绝酒精</string>
				<key>images</key>
				<string>养生之道06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>拒绝香烟</string>
				<key>images</key>
				<string>养生之道07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>与人分享养生之道</string>
				<key>images</key>
				<string>养生之道08</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#必须改掉的坏毛病#</string>
		<key>categoryImage</key>
		<string>必须改掉的坏毛病</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>迟到
你肯定经历过等待某位迟到的朋友,是否感到很厌烦呢?那正是你迟到的时候别人的感觉,迟到是对等你的人的不尊重,而这个坏习惯完全是可以避免的。

计划好自己的时间安排,考虑到路上要消耗的时间,确保能尽早到达目的地。给你的朋友,家人和员工留下个好印象。</string>
				<key>images</key>
				<string>迟到</string>
			</dict>
			<dict>
				<key>content</key>
				<string>在与人交谈时发短信
每个人都希望在与别人交谈时能够得到对方全部的注意力,如果对方在说话而你在发短信,就像是在对对方说“我对你说的话一点兴趣都没有”比起现在跟面对面你在一起人,你更在意那个跟你发短信的人。

把手机放进口袋,如果真有什么急事儿,对方会多打几次电话告知你的。全心全意的投入和朋友的交谈会促进你和对方的友谊,也会使你成为更优秀的人。</string>
				<key>images</key>
				<string>在与人交谈时发短信</string>
			</dict>
			<dict>
				<key>content</key>
				<string>以自我为中心
你周围有那种做什么说什么都围绕着自己转的人吗?是不是很烦人?一个优秀的人肯定不能总想着让世界围绕着自己转。

你应该把注意力放在周围人身上,听他们都说些什么,看看自己能否帮助他们,以他人为先,这样做不仅会使你成为一个优秀的人,而且会给你身边带来更多的朋友。</string>
				<key>images</key>
				<string>以自我为中心</string>
			</dict>
			<dict>
				<key>content</key>
				<string>谎言
谎言能够轻易毁掉一段感情。即使是‘善意的谎言’也有可能毁掉人与人之间的信赖。

将诚实作为自己的原则,不论真相有多么残酷,人们会因你的诚实而更加尊敬你。</string>
				<key>images</key>
				<string>谎言</string>
			</dict>
			<dict>
				<key>content</key>
				<string>晚上坐在电视机前吃着零食
这似乎不是什么坏毛病,但晚上吃零食的的确确会影响你的健康。专家表明,人在入睡前吃零食会影响身体的代谢,进而直接影响睡眠质量,如果睡不好,你在白天会越发的暴躁(还有引发其他一些相关疾病的风险)戒掉晚上吃零食的坏习惯,你会感觉更好。</string>
				<key>images</key>
				<string>晚上坐在电视机前吃着零食</string>
			</dict>
			<dict>
				<key>content</key>
				<string>酗酒
隔段时间喝个两三杯酒没什么问题,但是把自己喝个烂醉就是场灾难了,喝得人事不知,发酒疯,丢尽了脸,最后还要靠朋友把你安全送回家,这可不怎么好。
少喝点酒,至少不能喝醉,一个优秀的人必须要有良好的自控能力,这不是什么难事儿。</string>
				<key>images</key>
				<string>酗酒</string>
			</dict>
			<dict>
				<key>content</key>
				<string>不吃早餐
这不只是医生啰啰嗦嗦的在你耳边念叨 – 早餐确实很重要,一顿丰盛的早餐会让你一天充满干劲儿,而不吃早餐你就已经输在其起跑线上了。
每天早晨花上五到十分钟坐在餐桌前享用早餐,不仅丰盛的早餐会让你精力充沛,而且让你有时间准备一下,迎接新的一天新的挑战。</string>
				<key>images</key>
				<string>不吃早餐</string>
			</dict>
			<dict>
				<key>content</key>
				<string>预算超支
有些事情会把你的生活搅的一团糟,像把钱花光了,更糟糕的是你还欠着朋友的钱,这种感觉糟透了,除非把钱还给对方,否则你会感到自己不知道要做些什么。

给自己定个预算计划,严格的执行这个计划会帮助你平衡所有的开销,避免账单,养成计划预算的好习惯会帮助你不少。</string>
				<key>images</key>
				<string>预算超支</string>
			</dict>
			<dict>
				<key>content</key>
				<string>没给自己攒退休金
你不得不承认你已经有几年,甚至几十年没有想过退休这个问题了。要知道,退休后,你还是的吃饭,穿衣,让自己生活的舒舒服服。如果没有退休金,你就得面临现在每次花光生活费的窘境。

现在开始为自己攒退休金,解决自己的后顾之忧,避免自己陷入窘境,你的退休生活会更美好。</string>
				<key>images</key>
				<string>没给自己攒退休金</string>
			</dict>
			<dict>
				<key>content</key>
				<string>把爹妈当做ATM机
你花光了生活费,还把卡给刷爆了,接下来就只能想父母求助了,他们不会介意“借给”你一些钱渡过难关 – 你爸妈也没指望过你还钱。

如果你想成为一个优秀的人就得明白,作为一个成年人,你的父母希望你能够自食其力,因为那是一个人成熟的标志 – 向父母证明你是个优秀的成年人。</string>
				<key>images</key>
				<string>把爹妈当做ATM机</string>
			</dict>
			<dict>
				<key>content</key>
				<string>行为幼稚
想法幼稚就会导致一个人的行为幼稚,如果你只有十五岁,幼稚的点还没什么,但当你二十五岁还这么幼稚,有很有什么了。

为自己的行为负起责任会让你更加成熟 – 这是帮你成为一个优秀的人的关键。</string>
				<key>images</key>
				<string>行为幼稚</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#想读的书单#</string>
		<key>categoryImage</key>
		<string>想读的书单</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>《目送》
目送共由七十四篇散文组成，是为一本极具亲情、感人至深的文集。由父亲的逝世、母亲的苍老、儿子的离开、朋友的牵挂、兄弟的携手共行，写出失败和脆弱、失落和放手，写出缠绵不舍和绝然的虚无。这是一本生死笔记，深邃，忧伤，美丽。</string>
				<key>images</key>
				<string>想读的书单00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《傲慢与偏见》
傲慢与偏见》是一部描写爱情与婚姻的小说，也是简·奥斯丁的代表作。小说围绕班奈特太太如何把五个女儿嫁出去的主题展开。以男女主人公达西和伊丽莎白由于傲慢和偏见而产生的爱情纠葛为线索，共写了四起姻缘：伊丽莎白与达西、简与宾利、莉迪亚与威克姆、夏洛蒂与柯林斯。达西富有骄傲，代表傲慢；伊丽沙白聪明任性，代表偏见。最后，真爱终于打破了这种傲慢和偏见，小说在结婚典礼中结束。奥斯丁在这部小说中饶有风趣地反映了18世纪末、19世纪初英国乡情风俗和世态人情，给人以艺术的想象，是一部社会风俗喜剧佳作。</string>
				<key>images</key>
				<string>想读的书单01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《1984》
《1984》是一部杰出的政治寓言小说，也是一部幻想小说。作品刻画了人类在极权主义社会的生存状态，有若一个永不退色的警示标签，警醒世人提防这种预想中的黑暗成为现实。历经几十年，其生命力益显强大，被誉为20世纪影响最为深远的文学经典之一。</string>
				<key>images</key>
				<string>想读的书单02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《穆斯林的葬礼》
一个穆斯林家族，六十年间的兴衰，三代人命运的沉浮，两个发生在不同时代、有着不同内容却又交错扭结的爱情悲剧。</string>
				<key>images</key>
				<string>想读的书单03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《百年孤独》
《百年孤独》是魔幻现实主义文学的代表作，描写了布恩迪亚家族七代人的传奇故事，以及加勒比海沿岸小镇马孔多的百年兴衰，反映了拉丁美洲一个世纪以来风云变幻的历史。作品融入神话传说、民间故事、宗教典故等神秘因素，巧妙地糅合了现实与虚幻，展现出一个瑰丽的想象世界，成为20世纪最重要的经典文学巨著之一。</string>
				<key>images</key>
				<string>想读的书单04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《致加西亚的信》
这是一本关于敬业、忠诚、勤奋的管理书。
西战争爆发以后，美国必须立即与古巴起义军的首领加西亚取得联系，并获得他的合作。加西亚在古巴的深山里——没有人知道他的确切地点，所以无法与他取得联系。有人向总统推荐：“有一个名叫罗文的人，有办法找到加西亚，也只有他才能找得到。”他们找来罗文，交给他一封写给加西亚的信。三周后，罗文徒步走过一个危机四伏的国家，把那封信交给了加西亚。罗文的事迹也被传为佳话。</string>
				<key>images</key>
				<string>想读的书单05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《时间简史》
《时间简史》是由英国伟大的物理学家史蒂芬·霍金撰写的一本有关宇宙学的著作，是一部将高深的理论物理通俗化的科普范本。讲述是探索时间和空间核心秘密的故事是关于宇宙本性的最前沿知识，包括我们的宇宙图像、空间和时间、膨胀的宇宙不确定性原理、基本粒子和自然的力、黑洞、黑洞不是这么黑、时间箭头等内容。第一版中的许多理论预言，后来在对微观或宏观宇宙世界观测中得到证实。</string>
				<key>images</key>
				<string>想读的书单06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《人的潜能和价值》
《人的潜能和价值》是人本主义心理学有关“人的潜能和价值”讨论的论文集。主要选录了马斯洛有关人心理学价值观点的文章。作为人本心理学现在的代表人物，著名的心理治疗家和教育改革家罗杰斯的文章也有大量选录。另外还有心理分析社会学派代表人物弗洛姆，机体论或整体论学说的代表人物哥尔德斯坦等人的论文。这是一本很好的一本心理学论文集。</string>
				<key>images</key>
				<string>想读的书单07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《悲惨世界》
这是法国十九世纪浪漫派领袖雨果继《巴黎圣母院》之后创作的又一部气势恢宏的鸿篇巨著。全书以卓越的艺术魅力，展示了一幅自1793年法国大革命至1832年巴黎人民起义期间，法国近代社会生活和政治生活的辉煌画卷，最大限度地体现了雨果在叙事方面的过人才华，是世界文学史上现实主义与浪漫主义结合的典范。小说集中反映了雨果的人道主义思想，饱含了雨果对于人类苦难命运的关心和对末来坚定不移的信念，具有震撼人心的艺术感染力。</string>
				<key>images</key>
				<string>想读的书单08</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《老人与海》
本书讲述了一个渔夫的故事。古巴老渔夫圣地亚哥在连续八十四天没捕到鱼的情况下，终于独自钓上了一条大马林鱼，但这鱼实在大，把他的小船在海上拖了三天才筋疲力尽，被他杀死了绑在小船的一边。在归程中，他再遭到一条鲨鱼的袭击，最后回港时只剩鱼头鱼尾和一条脊骨。而在老圣地亚哥出海的日子里，他的忘年好友一直在海边忠诚地等待，满怀信心地迎接着他的归来。这本小说获得了1953年美国普利策奖和1954年诺贝尔文学奖。奠定了海明威在世界文学中的突出地位。</string>
				<key>images</key>
				<string>想读的书单09</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《理想国》
《理想国》是柏拉图的一部重要对话录、一部典型的大综合的著作，涉及到哲学、政治、伦理、教育、心理、社会、家庭、宗教、艺术等等诸多问题，而且语言颇富文学色彩，充满了思辨哲理，细细品味，余香四溢。《理想国》是西方知识界必读之书，震古铄今。我们要认识当代西方社会政治文化，就需要追本溯源，了解西方古代的政治文化思想，而《理想国》正是西方古代政治思想的一个源头，是留存下来的第一部反映西方古代政治思想的专著。</string>
				<key>images</key>
				<string>想读的书单10</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《围城》
人生是围城，婚姻是围城，冲进去了，就被生存的种种烦愁包围。《围城》是钱钟书撰写的一部“新《儒林外史》”。钱钟书以他洒脱幽默的文笔，描写了一群知识分子的生活百态。《围城》里面的精言妙语是这部小说的最成功之处，也是最值得赏析的地方。</string>
				<key>images</key>
				<string>想读的书单11</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《愤怒的葡萄》
 本书是美国著名作家、诺贝尔文学奖获得者斯坦贝克的代表作。20世纪30年代，美国经济恐慌期间大批农民破产逃荒，作家曾跟随俄克拉何马州的农民流浪到加利福尼亚，沿途所见，令他非常震惊，“有五千户人家即将饿死，问题十分尖锐...”他以深刻写实的笔触，在书中展现了当时美国农民在生死线上挣扎、反抗的情景。作品出版后，引起各州统治阶层的恐慌，许多州禁止小说发行，甚至有一本名为《快乐的葡萄》的小说出版以示针锋相对。但一切都无法动摇《愤怒的葡萄》在美国现代文学史上的重要地位。</string>
				<key>images</key>
				<string>想读的书单12</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《推销员之死》
《推销员之死》是米勒戏剧创作的巅峰之作，荣获普利策奖和纽约剧评界奖，为他赢得国际声誉。推销员威利·洛曼因年老体衰，要求在办公室里工作，却被老板辞退。威利懊丧之下，责怪两个儿子不务正业，一事无成。儿予反唇相讥，嘲笑他不过是个蹩脚的跑街罢了。老推销员做了一辈子的美梦，现在全都幻灭了，自尊心受到严重挫伤。他梦呓似的与他那已故的、在非洲发财致富的大哥争论个人爱好的事业，最后他为使家庭获得一笔人寿保险费，在深夜驾车外出撞毁身亡。该剧体现了米勒的悲剧现实化、生活化的特点，揭示了美国梦的真谛，告诫我们单纯地追求物质的富足并不能带来精神的自由和充实；否则，梦成虚妄，必然导致毁灭。</string>
				<key>images</key>
				<string>想读的书单13</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《麦田里的守望者》
本书的主人公霍尔顿是个中学生，出身于富裕中产阶级的十六岁少年，在第四次被开除出学校之后，不敢贸然回家，只身在美国最繁华的纽约城游荡了一天两夜，住小客店，逛夜总会，滥交女友，酗酒……他看到了资本主义社会的种种丑恶，接触了各式各样的人物，其中大部分是“假模假式的”伪君子。</string>
				<key>images</key>
				<string>想读的书单14</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《论语》
《论语》是一部语录体思想散文集。早在春秋后期孔子设坛讲学时期，其主体内容就已初始创成；孔子去世以后，他的辫子和再传弟子代代传授他的言论，并逐渐将这些口头记诵的语录言行记录下来，集腋成裘，最终在战国初年汇辑论纂成书，因此称“论”。《论语》主要记载孔子及其弟子的言行，因此称为“语”。</string>
				<key>images</key>
				<string>想读的书单15</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《战争与和平》
《战争与和平》中既有俄国和西欧重大历史事件的记叙，又有故事情虚构；既写了金戈铁马，刀光备影的战斗，又写了安逸宁静的日常生活；既有慷慨激昂的议人论世，又有细腻婉约的抒情述怀。作者以高超的艺术技巧塑造了一个系列鲜明的人物形象，写尽了各种人情世态。著名作家屠格涅夫称这部小说为“更加直接和更加准确地了解俄罗斯人民的性格和气质以及整个俄国生活”，读它“胜过读几百部有关民族学和历史的著作”。</string>
				<key>images</key>
				<string>想读的书单16</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《社会契约论》
《社会契约论》是法国启蒙思想家卢梭最著名的代表作品。其“人人生而自由，却无处不在枷锁中”的名句，激励了古今中外无数仁人志士投身追求民主与自由的人类解放事业；其“人民主权”的思想观念，深深影响了美国独立革命及其《独立宣言》和法国大革命及其《人权宣言》。它是当代青年不可不读的经典名著。</string>
				<key>images</key>
				<string>想读的书单17</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《平凡的世界》
《平凡的世界》是一部现实主义小说，也是一部小说形式的家族史。作者浓缩了中国西北农村的历史变迁过程，在小说中全景式地表现了中国当代城乡的社会生活。在近十年的广阔背景下，通过复杂的矛盾纠葛，刻划社会各阶层众多普通人的形象。劳动与爱情，挫折与追求，痛苦与欢乐，日常生活与巨大社会冲突，纷繁地交织在一起，深刻地展示了普通人在大时代历史进程中所走过的艰难曲折的道路。</string>
				<key>images</key>
				<string>想读的书单18</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《孙子兵法》
《孙子兵法》被称为镇国之宝，是中国现存最早的兵书，也是世界上最早的军事著作，被誉为“兵学圣典”。处处表现了道家与兵家的哲学。历来备受推崇，研习者辈出不穷。日本松下电器创始人松下幸之助说：“《孙子兵法》是天下第一神灵，我们必须顶礼膜拜，认真背诵，灵活运用，公司才能发达。”</string>
				<key>images</key>
				<string>想读的书单19</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《哈姆雷特》
  本书取材于丹麦王子为父报仇的古老传说。丹麦国王暴毙，国王的弟弟继承了王位，还娶了旧日的王嫂。王子哈姆雷特在痛苦中见到了父亲的鬼魂，鬼魂告诉王子自己是在睡梦中被弟弟夺去了生命、王位和妻子，并嘱咐给哈姆雷特一定要为他报仇。于是哈姆雷特开始了曲折的复仇历程…</string>
				<key>images</key>
				<string>想读的书单20</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《了不起的盖茨比》
20世纪20年代的美国，空气里弥漫着欢歌与纵饮的气息。一个偶然的机会，穷职员尼克闯人了挥金如土的大富翁盖茨比隐秘的世界，惊讶地发现，他内心惟一的牵绊竟是河对岸那盏小小的绿灯——-灯影婆娑中，住着他心爱的黛西。然而，冰冷的现实容不下飘渺的梦，到头来，盖茨比心中的女神只不过是凡尘俗世的物质女郎。当一切真相大白，盖茨比的悲剧人生亦如烟花般，璀璨只是一瞬，幻灭才是永恒。一阕华丽的“爵士时代”的挽歌，在菲茨杰拉德笔下，如诗如梦，在美国当代文学史上留下了墨色浓重的印痕。</string>
				<key>images</key>
				<string>想读的书单21</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《小王子》

《小王子》是一部写给大人看的童话，一个世界上最伤心的故事，一则关于爱与责任的寓言。

  小说讲述了一个因飞机失事而滞留非洲大沙漠的飞行员邂逅一个小外星人的故事：小王子是一个忧郁的小人儿，他来自一个很小很小的星球，在那儿什么都好小好小，小王子很容易忧伤，他小小的生命柔情善感...这样令人心疼的小王子，在撒哈拉沙漠中与作者相遇了，他们一点一滴的交心，于是我们跟着小王子哭，跟着小王子笑，跟作者一起，再度成为一个孩子，寻获我们失去的天真与感动...</string>
				<key>images</key>
				<string>想读的书单22</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《沉思录》
《沉思录》是古罗马唯一一位哲学家皇帝马可·奥勒留所著，这本自己与自己的十二卷对话，内容大部分是他在鞍马劳顿中所写，是斯多葛派哲学的一个里程碑。《沉思录》来自于作者对身羁宫廷的自身和自己所处混乱世界的感受，追求一种摆脱了激情和欲望、冷静而达观的生活。马可·奥勒留在书中阐述了灵魂与死亡的关系，解析了个人的德行、个人的解脱以及个人对社会的责任，要求常常自省以达到内心的平静，要摈弃一切无用和琐屑的思想、正直地思考。而且，不仅要思考善、思考光明磊落的事情，更要付诸行动。</string>
				<key>images</key>
				<string>想读的书单23</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《活着》
《活着》以一种渗透的表现手法完成了一次对生命意义的哲学追问。

地主少爷富贵嗜赌成性，终于赌光了家业一贫如洗，穷困之中的富贵因为母亲生病前去求医，没想到半路上被国民党部队抓了壮丁，后被解放军所俘虏，回到家乡他才知道母亲已经去世，妻子家珍含辛茹苦带大了一双儿女，但女儿不幸变成了聋哑人，儿子机灵活泼……

然而，真正的悲剧从此才开始渐次上演，每读一页，都让我们止不住泪湿双眼，因为生命里难得的温情将被一次次死亡撕扯得粉碎，只剩得老了的富贵伴随着一头老牛在阳光下回忆。</string>
				<key>images</key>
				<string>想读的书单24</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《红楼梦》
《红楼梦》是一部中国末期封建社会的百科全书。小说以上层贵族社会为中心图画，真实、生动地描写了十八世纪上半叶中国末期封建社会的全部生活，是这段历史生活的一面镜子和缩影，是中国古老封建社会已经无可挽回地走向崩溃的真实写照。

《红楼梦》一书，通过对“贾、史、王、薛”四大家族荣衰的描写，展示了广阔的社会生活视野，森罗万象，囊括了多姿多彩的世俗人情。</string>
				<key>images</key>
				<string>想读的书单25</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《资本论》
《资本论》是马克思倾注毕生精力完成的科学巨著，是他一生恪守崇高信念，从事科学研究的结晶。</string>
				<key>images</key>
				<string>想读的书单26</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《假如给我三天光明》
书中记录了一个聋哑人凭籍自己惊人的努力，改变自己苦难命运的经历，在无光、无声、无语的孤绝世界里，她的坚强自信让自己的人生丰富多彩。

  20世纪，一个独特的生命个体以其勇敢的方式震撼了世界，她就是海伦·凯勒——一个生活在黑暗中却又给人类带来光明的女性，一个度过了生命的88个春秋，却熬过了87年无光、无声、无语的孤独岁月的弱女子。然而，正是这么一个幽闭在盲聋哑世界里的人，竟然毕业于哈佛大学德吉利夫学院，并用生命的全部力量处处奔走，建起了一家家慈善机构，为残疾人造福，被美国《时代周刊》评选为20世纪美国十大英雄偶像。</string>
				<key>images</key>
				<string>想读的书单27</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《瓦尔登湖》
《瓦尔登湖》是一本让人心归宁静、充满希望的智慧大作。当人们逐渐失去田园的宁静，它便被整个世界阅读和怀念。就像美国著名评论家伊拉·布鲁克所说：“在过去的一百年里，瓦尔登湖已经成为美国文化中纯洁天堂的同义词。”</string>
				<key>images</key>
				<string>想读的书单28</string>
			</dict>
			<dict>
				<key>content</key>
				<string>《如何阅读一本书》
每本书的封面之下都有一套自己的骨架，作为一个分析阅读的读者，责任就是要找出这个骨架。一本书出现在面前时，肌肉包着骨头，衣服包裹着肌肉，可说是盛装而来。读者用不着揭开它的外衣或是撕去它的肌肉来得到在柔软表皮下的那套骨架，但是一定要用一双X光般的透视眼来看这本书，因为那是了解一本书、掌握其骨架的基础。

  不懂阅读的人，初探阅读的人，读这本书可以少走冤枉路。对阅读有所体会的人，读这本书可以有更深的印证和领悟。</string>
				<key>images</key>
				<string>想读的书单29</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#必看的电影#</string>
		<key>categoryImage</key>
		<string>必看的电影</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>人生：《美国往事》
《美国往事》包含了一个男人在这个世界上所能遇到的一切。友情、爱情、责任、冲突。它更像是一场让人不愿醒来的梦，当面条躺在床上，在温暖的灯光和的迷离的电话铃声中回到那些逝去了的岁月，这场梦便开始了，直到最后的面条终于露出笑容，我们才回到自己的人生，去继续那些不尽的故事。什么帮派，什么仇杀，原来都不重要，印象中只有一个毛躁的少年，偷看一个美丽女孩儿跳舞；只有一个负罪的兄弟，每天早早地上床睡觉；只有一个白发苍苍的老人，面对背叛了的友谊，语调平和，不动声色。《美国往事》带着你作了一个三小时四十五分钟的梦。人生如梦，这也许是惟一的感受。</string>
				<key>images</key>
				<string>美国往事</string>
			</dict>
			<dict>
				<key>content</key>
				<string>责任：《辛德勒的名单》
所谓责任，就是未必做得成却必须去做的事。对于辛德勒来说，救助落难的犹太人是作为一个真正的人的责任。而把那段历史搬上银幕，则是斯皮尔伯格作为一个犹太艺术家的责任。《辛德勒的名单》包含着对受难者的祭奠，对拯救者的敬意，和对光明一定到来的信念。在影片放映后的一片赞誉声中，斯皮尔伯格平静地把影片的全部收益捐给了美国的纳粹大屠杀纪念馆。</string>
				<key>images</key>
				<string>辛德勒的名单</string>
			</dict>
			<dict>
				<key>content</key>
				<string>信念：《肖申克的救赎》
“有一种鸟儿是永远也关不住的，因为它的每片羽翼上都沾满了自由的光辉。”
一个人能够在十五年痛苦的牢狱生活里，不放弃对自由的向往，这是一种怎样的精神力量？所以他成功了，成功夺回了自由。《肖申克的救赎》中有这样一句话：体制化是这样一种东西，一开始你排斥它，后来你习惯它，直到最后你离不开它。想想看，我们的身体已经有多大一部分被体制化了？</string>
				<key>images</key>
				<string>肖申克的救赎</string>
			</dict>
			<dict>
				<key>content</key>
				<string>痛苦：《现代启示录》
战争是一种秩序的破坏，世界上最可悲最痛苦的事莫过于战争，最痛苦的战争电影莫过于《现代启示录》。《现代启示录》讲的是人性的倒退，秩序的破坏。但文明的进程却没有人能够阻挡。</string>
				<key>images</key>
				<string>现代启示录</string>
			</dict>
			<dict>
				<key>content</key>
				<string>哲思： 《第七封印》
不敢说能懂《第七封印》，但如果要在临死之前看一部电影，一定选择《第七封印》。
颓废、堕落、残忍、忧郁、禁欲、狂野、偎亵、神秘、邪恶、虔诚，奇怪的组合在一起。而不同的人，在这世纪末黑暗中，也有不同的处世之道。这正是博格曼电影《第七封印》要探讨的内容。博格曼将死亡拟人化成死神，透过死神追逐网罗人们，让不同的人与死神相遇、或被死神追逐时，各自呈现出不同的态度。这些人变成为世间人的“典型”，把身为观众的你、我圈进去。</string>
				<key>images</key>
				<string>第七封印</string>
			</dict>
			<dict>
				<key>content</key>
				<string>执着：《阿甘正传》
每次想起阿甘在美国东西海岸之间的奔跑，心里都会止不住的伤感，还有振奋。你相信一个智障儿的成功吗？你相信这世上得到最多的人正是那些不计得失的人吗？阿甘不懂得他不能总跟着一个女人帮她打架，也不懂得一个成年人不该总把他*的话挂在嘴边。阿甘什么都不知道，他只知道凭着直觉在路上不停地跑，并且最终他跑到了终。

妈妈总说，生命就象一盒巧克力，你从不知盒里会有什么东西。</string>
				<key>images</key>
				<string>阿甘正传</string>
			</dict>
			<dict>
				<key>content</key>
				<string>才华： 《东方不败》
男人不应该不看武侠片，如果你只能看一部武侠电影，你会选择什么？我想应该是《东方不败》.满堂花醉三千客，一剑霜寒十四州，剑客的身姿随着剑在空气中的游走而起舞，翩若惊鸿，宛若游龙。金庸的《笑傲江湖》讲的是对自由的追求，徐克、程小东、张叔平、李连杰等一干天才用电影再现了金庸笔下这个瑰丽无比的武侠世界。沧海一声笑的曲子传唱至今，成为我们一个幻想的凭籍，一个逃避现实的出口。</string>
				<key>images</key>
				<string>东方不败</string>
			</dict>
			<dict>
				<key>content</key>
				<string>爱情：《罗马假日》
也许《罗马假日》有点瞎浪漫的嫌疑，但奥黛丽。赫本的出现使它真的成了一部童话。她就像是游历人间的天使，美丽得不染纤尘。记者吻过湿淋淋的公主，然后看着她慢慢地走向自己的官邸。那一刻，你是否会在心里默默地说，“别走”？在罗马的宫殿里，两个人站得那样近，也离得那样远。乔只能说：“你的朋友绝不会让你失望。”而公主也只能这样回答，“罗马，当然是罗马。”在人的一生里，即便只有这样一刻心灵的相通，也会少却多少遗憾！</string>
				<key>images</key>
				<string>罗马假日</string>
			</dict>
			<dict>
				<key>content</key>
				<string>勇气：《勇敢的心》
也许英雄并不是无所不能的神明，但英雄一定是无所畏惧的勇士。在你站在霓虹闪烁的街头，当你面对卑鄙委琐的笑脸，你又想起了那个让你汗颜的华莱士，这时你收起脸上惯带的笑容，默默地向梅尔。吉布森致敬，从来没有这么庄重。因为他让我们明白，什么才是真正的英雄。“Freedom！”华莱士临死前的一声呐喊，把你的血也点燃了。</string>
				<key>images</key>
				<string>勇敢的心</string>
			</dict>
			<dict>
				<key>content</key>
				<string>童心：《E.T》
如果看《E.T》时你流泪了，你不要害怕也不要惭愧，不管你有多大的年纪。实际上，能够和孩子们一起为E.T 的遭遇而悲喜，是一件多么让人庆幸的事，这代表着我们还有一点童心未曾泯灭，代表着我们有一些梦想还藏在心底。当长着一双孩子的眼睛的E.T 用超能力让孩子们的自行车飞上夜空，穿过那轮明月的时候，你是否感到了震憾？是否对自己一些已经习惯了的东西产生了怀疑？</string>
				<key>images</key>
				<string>ET</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#我爱游戏#</string>
		<key>categoryImage</key>
		<string>我爱游戏</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>英雄联盟上白金</string>
				<key>images</key>
				<string>我爱游戏00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>炉石传说上传说等级</string>
				<key>images</key>
				<string>我爱游戏01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>英雄联盟－中国战队拿到S赛总冠军</string>
				<key>images</key>
				<string>我爱游戏02</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#最想要的生日礼物#</string>
		<key>categoryImage</key>
		<string>最想要的生日礼物</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>戒指</string>
				<key>images</key>
				<string>最想要的生日礼物00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>项链</string>
				<key>images</key>
				<string>最想要的生日礼物01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>鲜花</string>
				<key>images</key>
				<string>最想要的生日礼物02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>巧克力</string>
				<key>images</key>
				<string>最想要的生日礼物03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>香水</string>
				<key>images</key>
				<string>最想要的生日礼物04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>星球大战金属拼图</string>
				<key>images</key>
				<string>最想要的生日礼物05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>NBA桌面投篮创意减压学习办公礼物</string>
				<key>images</key>
				<string>最想要的生日礼物06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>钢铁侠书架</string>
				<key>images</key>
				<string>最想要的生日礼物07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>钢铁侠美国队长移动电源</string>
				<key>images</key>
				<string>最想要的生日礼物08</string>
			</dict>
			<dict>
				<key>content</key>
				<string>宇航员USB小灯</string>
				<key>images</key>
				<string>最想要的生日礼物09</string>
			</dict>
			<dict>
				<key>content</key>
				<string>雷神之锤Thor&apos;s</string>
				<key>images</key>
				<string>最想要的生日礼物10</string>
			</dict>
			<dict>
				<key>content</key>
				<string>Kindle亚马逊电子书阅读器</string>
				<key>images</key>
				<string>最想要的生日礼物11</string>
			</dict>
			<dict>
				<key>content</key>
				<string>PS4游戏机</string>
				<key>images</key>
				<string>最想要的生日礼物12</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#买买买#</string>
		<key>categoryImage</key>
		<string>买买买</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>买一套自己的房子。</string>
				<key>images</key>
				<string>买买买00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>买一辆甲壳虫。</string>
				<key>images</key>
				<string>买买买01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>买一台iPhone。</string>
				<key>images</key>
				<string>买买买02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>买一台外星人。</string>
				<key>images</key>
				<string>买买买03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>买一套婚纱，不用太贵，自己喜欢就好。</string>
				<key>images</key>
				<string>买买买04</string>
			</dict>
			<dict>
				<key>content</key>
				<string>买微单。</string>
				<key>images</key>
				<string>买买买05</string>
			</dict>
			<dict>
				<key>content</key>
				<string>买一辆单车。</string>
				<key>images</key>
				<string>买买买06</string>
			</dict>
			<dict>
				<key>content</key>
				<string>买一架钢琴。</string>
				<key>images</key>
				<string>买买买07</string>
			</dict>
			<dict>
				<key>content</key>
				<string>买自己喜爱的BVLGARI首饰。</string>
				<key>images</key>
				<string>买买买08</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#狗狗猫咪#</string>
		<key>categoryImage</key>
		<string>狗狗猫咪</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>训练一条狗，像导盲犬阿Q一样</string>
				<key>images</key>
				<string>狗狗猫咪00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>养一只白色的小猫</string>
				<key>images</key>
				<string>狗狗猫咪01</string>
			</dict>
			<dict>
				<key>content</key>
				<string>晚上和狗狗出去散步，享受一起坐在风中的那一刻。</string>
				<key>images</key>
				<string>狗狗猫咪02</string>
			</dict>
			<dict>
				<key>content</key>
				<string>和狗狗或他去海边，痛快地玩耍。</string>
				<key>images</key>
				<string>狗狗猫咪03</string>
			</dict>
			<dict>
				<key>content</key>
				<string>加入动物保护组织，真正做些事。</string>
				<key>images</key>
				<string>狗狗猫咪04</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>#创意生活#</string>
		<key>categoryImage</key>
		<string>创意生活</string>
		<key>dreams</key>
		<array>
			<dict>
				<key>content</key>
				<string>自己养一盆小花</string>
				<key>images</key>
				<string>创意生活00</string>
			</dict>
			<dict>
				<key>content</key>
				<string>打造自己的花园</string>
				<key>images</key>
				<string>创意生活01</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
